/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrapper {
	width:960px;
	margin:0px auto;
}

/* Left column */
#left-side {
	width:425px;
	margin-right:50px;
	float:left;
}

/* Right column */
#invoice {
	width:400px;
	float:left;
	text-align:left;
}

.line {
	float: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16pt;
	font-style: italic;
}
.line2 {
	float: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16pt;
	font-style: bold;
}